/* .main{
   background-color: blue;
   height: 75%;

   text-align: justify;
} */

 /* *{

    background-color: blueviolet;

}
.tbl{
    margin: 5px;

}
.dis{
    border: 2px solid black;
    text-align: justify;
    padding: 5px;
    margin-bottom: 50 px;
}
     */

/* .div{
    border: 2px solid brown;
    margin-left: 50%;
    margin-right: 50%;
    padding: 10%;

} */
*{
    border-radius: 5px;
}
.h1{
    border: 2px solid green;

}
body{
    margin: 0px;
}
/* ol{
    list-style-type: disc;
} */
/* ul{
    list-style-image: url(./9146846.png);
}
li{
    margin-left: 100px;
} */

