/* *{
    background-color: aqua;
}
.para i{
    font-family: bold;
    color: brown;
}
#para{
    color: yellow;
}
h1, h3{
    color: yellow;
}
li>a{
    color:red;
}
h4 p{
    font-weight: bold;
    color: blueviolet;
} */

/* #name~.sm{
    color: blue;
    font-weight: bold;
    
} */
/* 
p{
    color: red;
    font-weight: bold;
} */
/* 
* {
    font-family: Arial, Verdana, sans-serif;}
    h1 {
    font-family: "Courier New", monospace;}
    i {
    color: rgb(51, 146, 51) !important;}
    i {
    color: rgb(166, 110, 110);}
    b {
    color: pink;}
    p b {
    color: blue !important;}
    p b {
    color: violet;}
    p#intro {
    font-size: 100%;}
    p {
    font-size: 75%;} 

    .test{
        font-family: Arial, Helvetica, sans-serif;
    } */
    *{
        background-color: black;
    }

    .text-img{
        /* color: blue; */

        font-size: 100px;
        background-image: url(./download1.png);
        background-size: contain;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* .text-img{
        background-image: url(./download.png);


    } */